@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    position: relative;
    height: 100vh;
    padding-bottom: 2.5rem;
}

button{
    border-radius: 5px;
    height: 40px;
    margin: 5px;
    background-color: rgb(233, 232, 232);
    border: none;
    box-shadow: inset 0 0 2px gray, 0 0 1px black;
    border: 0.5px solid gray;

    width: 100px;
    background: #652F4F;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
}

.navbar{
    width: 100%;
    min-height: 50px;
    background-color: #652F4F;
    color: white;
    font-family: Pathway Gothic One, 'Times New Roman';
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar h1{
    margin-left: 20px;
}

.navbar .img-hamburguer{
    max-width: 30px;
    max-height: 30px;
    margin-right: 20px;
}

.navbar .checkbox{
    position: absolute;
    right: 19px;
    width: 30px;
    height: 30px;
    opacity: 0;
    cursor: pointer;
}

.navbar .checkbox:checked + .navbar-lista{
    display: flex; 
    flex-direction: column;  
    transition: right 1s ease-in-out;
    right: 0;  
}

.navbar .navbar-lista{
    position: absolute;
    width: 200px;
    right: -200px;
    transition: right 1s ease-out;
    top: 50px;
    display: none;
    text-align: center;

    background-color: #652F4F;
    list-style: none;
    z-index: 3;
}

.navbar .navbar-lista li{
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.navbar .navbar-lista li:hover{
    background-color: rgba(161, 116, 143);
}

.navbar .navbar-lista a{
    color: white;
    text-decoration: none;
}

.rodape{
    color: white;
    font-family: Pathway Gothic One, 'Times New Roman';
    background: #652F4F;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    position: absolute;
    bottom: 0;
    height: 2.5rem; 
}

@media (min-width: 500px) {
    
    .navbar .img-hamburguer{
        display: none;
    }
    .navbar .checkbox{
        display: none;
    }
    .navbar .navbar-lista{
        min-width: 300px;
        display: flex;
        position: initial;
    }
    .navbar .navbar-lista li{
        padding-left: 30px;
        padding-right: 30px;
    }
    .navbar .navbar-lista li:hover{
        text-decoration: underline;
        background-color: #652F4F;
    }   
}

@media (min-width: 768px) {
    .navbar h1{
        font-size: 30px;
    }
    .navbar .navbar-lista{
        width: 400px;
    }
    .navbar .navbar-lista a{
        font-size: 25px;
    }
}