.container{
    background: url("../assets/imgEdit.png") no-repeat center;
    width: 100%;
    z-index: -1;
    height: 400px;
    text-align: center;
    color: white;
    font-family: Pathway Gothic One, 'Times New Roman';
    padding: 10px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
}

.container p{
    position: absolute;
    top: 80px;
    font-size: 30px;
    text-shadow: 1px 1px #414040;
}

.container input{
    border-radius: 5px;
    width: 250px;
    height: 30px;
    margin: 5px;
    background-color: rgb(233, 232, 232);
    border: none;
    box-shadow: inset 0 0 2px gray, 0 0 1px black;
}