.container{
    background: url("../assets/imgOK.jpg") no-repeat center;
    background-size: cover;
    width: 100%;
    z-index: -1;
    height: calc(100vh - 2.5rem - 50px);
    text-align: center;
    color: white;
    font-family: Pathway Gothic One, 'Times New Roman';
    padding: 10px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center; 
}

.container p{
    position: absolute;
    top: 80px;
    font-size: 30px;
    text-shadow: 1px 1px #414040;
}

.container form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.container .home-busca{
    display: flex;
    flex-direction: column;
}

.container form input, button{
    border-radius: 5px;
    width: 270px;
    height: 40px;
    margin: 5px;
    background-color: rgb(233, 232, 232);
    border: none;
    box-shadow: inset 0 0 2px gray, 0 0 1px black;
    border: 0.5px solid gray;
}

.container form button{
    width: 100px;
    background: #652F4F;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
    height: ;
}

@media (max-height: 400px) {
    .container p{
        position: absolute;
        top: 20px;
        font-size: 30px;
        text-shadow: 1px 1px #414040;
    }
}

@media (min-width: 768px) {
    .container .home-busca{
        display: flex;
        flex-direction: row;
    }
}