@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap');

.container{
    background: #EBDCEF;
    height: calc(100vh - 90px);    
}

.container h2{
    font-family: Pathway Gothic One, 'Times New Roman';
    font-size: 20px;
}

.container .dadosBusca{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 50px;
}

.container .quadros{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;   
    max-height: 90%; 
    overflow: auto;
    padding-bottom: 10px;
}

.container .quadro{
    font-family: Pathway Gothic One, 'Times New Roman';
    font-size: 25px;
    background: #462F49 ;
    color: white;
    border-radius: 10px;
    border: 1px solid gray;
    width: 300px;
    height: 200px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    margin: 10px auto;
}
.container .quadro .grupo-info{
    width: 100%;
    margin: 5px;
}

.container .quadro .descricao{
    margin-top: 10px;
    font-size: 20px;
}

.container .quadro .preco{
    font-size: 15px;
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.container .quadro img{
    width: 100%;
    height: 50%;
}

@media (max-width: 499px) {

}

@media (min-width: 500px) {
    
    .container .quadro{
        min-width: 400px;
    }
    .container .quadro img{
        width: 40%;
        height: 100%;
        margin-right: 10px;
    }
    .container .quadro .grupo-info{
        width: 50%;
        height: 100%;
        position: relative;
    }

    .container .quadro .preco{
        position: absolute;
        right: 0;
        bottom: 0;
        margin-bottom: 10px;
    }
}

@media (min-width: 800px) {
    .container .quadro{
        margin: 0px;
    }
}

@media (min-width: 850px) {
    .container .quadros{
        display: flex;
        justify-content: flex-start; 
        flex-wrap: wrap;
        max-width: 900px;
        margin: 0 auto;   
    }
    .container .quadro{
        margin: 10px;
    }
}

@media (min-width: 1300px) {
    .container .quadros, .dadosBusca{
        max-width: 1300px;
        margin: 0 auto;  
    }
}


