@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap');

.container{
    height: calc(100vh - 50px); 
}
.texto{
    font-family: Pathway Gothic One, 'Times New Roman';
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: 0 auto;
    width: 80%;
}

.texto h1,p{
    margin: 20px 0;
}

.texto p{
    font-size: 20px;
}